body{
    font-family: "Itim";
}

.name{
    font-weight: normal;
    font-size: 48px;
    margin: 36px 24px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 16px;
    align-content: center;
    gap: 16px;
}

.card{
    border-radius: 8px;
    position: relative;
    color: white;
}

.card > img{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
}

.card > .info{
    margin: 8px;
}

.card .additional-info{
    margin-top: 32px;
    opacity: 0;
    transition: opacity 200ms;
}

.card .additional-info:hover{
    opacity: 1;
}